h1 {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    color: khaki;
    font-size: 100px;
    text-align: center;
    padding: 10px;
}
main {
    margin-left:10px;
    margin-right: 10px;
}
/* Hacksaw Brushes*/
.green {
    background-color: rgb(135, 235, 140);
    color: white;
    font-size: 40px;
}
/* Art Frames */
.red {
    background-color: rgba(255, 0, 34, 0.904);
    color: white;
    font-size: 40px;
}
/* Paint tubes */
.blue {
    background-color: skyblue;
    color: white;
    font-size: 40px;
}
.bold {
    color: blue;
    font-size: large;
   
}

body {
    font-family: Helvetica;
    margin: 0;
    
}
footer {
    background-color: maroon;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 50px;
}